{% extends 'base.html' %}

{% block content %}
    <h2 class="display-4 text-center">Galerie kuchařů</h2>

    <div class="row bg-success mb-2">
        {% for kuchar in seznam_kucharu %}
            <div class="col-6 col-md-3 pt-3 pb-3 d-flex flex-column">
                {% if kuchar.fotografie %}
                    <img src="{{ kuchar.fotografie.url }}" alt="{{ kuchar }}" class="rounded img-fluid">
                {% endif %}

                <p class="text-center text-light mt-auto p-1">
                    <b>{{ kuchar.jmeno }}</b> <b>{{ kuchar.prijmeni }}</b>
                </p>
            </div>
        {% endfor %}
    </div>
{% endblock %}
